/* Coolors Exported Palette - coolors.co/ffffff-dcd9cf-000000-e18a07-2d3142 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(46%, 16%, 84%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(36%, 94%, 45%, 1);
$color5: hsla(229%, 19%, 22%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(220, 217, 207, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(225, 138, 7, 1);
$color5: rgba(45, 49, 66, 1);